.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 6rem;
  background-color: var(--primary-color);
  gap: 1rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menuItens {
  text-decoration: none;
  color: var(--text-color-secondary);
  margin: 0 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}
