:root {
  --primary-color: #152440;
  --secondary-color: #f19800;
  --tertiary-color: #c11f4d;
  --quaternary-color: #00a0a6;
  --quinary-color: #e5e5e5;
  --text-color: #000;
  --text-color-secondary: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  margin: 0;
}

@layer utilities {
}
