.body {
  margin-left: 4rem;
  margin-right: 4rem;
}
.container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.containerButton {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
}
.containerImagePicker{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
