.containerArticle {
  margin: 0 7rem;
  margin-top: 2rem;
}
.containerArticlesUser {
  display: flex;
  margin-top: 1.5rem;
  background-color: #7b6ca8;
  color: var(--text-color-secondary);
  padding: 1rem;
  border-radius: 10px;
}

.imageProfile {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.container {
  gap: 1rem;
}
/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
