.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
  gap: 0.5rem;
}

.inputSearch {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
