.margin {
  margin: 0;
}
.justify {
  text-align: justify;
}
.container {
  padding-left: 6rem;
  padding-right: 6rem;
}
.apresentation {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.containerApresentation {
  display: flex;
  flex-direction: column;
}
.containerTitle {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
}
