.containerMagazinePosts {
  margin-left: 3rem;
  margin-right: 1.5rem;
}

/* notebook */
@media (min-width: 1440px) {
  .containerMagazinePosts {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
